*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, lightsalmon, lightskyblue);
    min-height: 100vh;
    display: flex;
    text-align: center;
}
.content {
    height: 600px;
    width: 90%;
    overflow: hidden;
    position: relative;
}
.content .image {
    height: 100%;
    width: 100%;
}
.content img {
    height: 100%;
    width: 100%;
}
.btm-sliders {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.btm-sliders span {
    width: 50px;
    height: 15px;
    border: 3px solid #fff;
    margin: 0 3px;
    cursor: pointer;
}
.content .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid #fff;
    cursor: pointer;
}
.content .slide:hover {
    background: rgba(255, 255, 255, 0.2);
}
.content .right {
    right: 0;
}
.content .slide span {
    font-size: 35px;
    color: #fff;
    line-height: 41px;
    margin-left: 20%;
}